# Logs
logs

Backend/node_modules
Frontend/node_modules
Backend/.env
node_modules
dist
dist-ssr
*.local
.env
.gitignore
.git
Frontend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
